@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
    margin: 0;
}

/*******************
    CAT SITE CSS
********************/
.catsite-header{
    height: 200px;
    width: 100%;
    background: url(./img/cat.jpeg) no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
}
.catsite-header h1{
    color: #11d6b0;
    padding-top: 50px;
    padding-left: 5px;
}
.about{
    margin: 15px;
}
.about h3 {
    margin-bottom: 20px;
    margin-top: 25px;
    text-decoration: overline;
}
.about h2{
    border-bottom: 1px solid rgb(203, 203, 203);
    margin-bottom: 15px;
}
.about h4{
    padding: 10px;
    text-decoration: underline;
    color: #0cb090;
}
ul li {
    color: #0cb090;
}
.bordered{
    border: 3px solid #0cb090;
    padding: 10px;
    text-align: center;
    color: #0cb090;
    font-size: 18px;
    font-weight: 600;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}
.medias{
    display: flex;
    justify-content: center;
}
.medias img{
    border: 3px inset #e7eaf0;
    width: 50%;
    height: auto;
    margin-bottom: 15px;
    margin-top: 10px;
}
table, th,td{
    border: 1px solid rgb(171, 171, 171);
    padding: 8px;
}
table{
    margin-top:20px ;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto
}
tbody td{
    padding: 18px;
}

@media screen and (max-width: 780px){
    /* For mobile phones: */

    .grid-3{
      grid-template-columns: repeat(1, 1fr) !important;
    }
  
  }
  